---
language: python
python:
  - "3.6"
  - "3.7"
  - "3.8"
  - "3.9-dev"

matrix:
  allow_failures:
    - python: "3.9-dev"

## TODO: Uncomment this when kubevirt tests are added
# sudo: required
# services:
#  - docker
# before_install:
#  - docker pull centos:7

# Install python-pip
addons:
  apt:
    packages:
      - python-pip
      - libgnutls.dev  # required by pycurl
      - libvirt.dev

install:
  - pip install tox

env:
  global:
    - TOX_PARALLEL_NO_SPINNER=1

script:
  - ./build.sh prep
  # Run syntax checks and linters
  - tox -p all
  # Try to generate dist package. We should in fact try to do a complete build,
  # but that's larger task. For now this should do.
  - bash -x ./build.sh dist
  ## TODO: Test kubevirt containers
  # - cd kubevirt-provider/ && docker build -t v2v-conversion-host .
  # - docker run --detach --publish 8080:8080 v2v-conversion-host
  # - curl -v http://localhost:8080/healthcheck
  # - docker kill $(docker ps --quiet --latest)

# Galaxy cannot handle the fact that role is in subdirectory
# notifications:
#   webhooks: https://galaxy.ansible.com/api/v1/notifications/
