[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
ovirt-engine-sdk-python = "*"
pycurl = "*"
six = "*"
libvirt-python = "*"
pyvmomi = "*"
packaging = "*"
# TODO: Uncomment this when it becomes available in pypi and also do the same in
# setup.py, add it to requirements.txt and remove the mocked nbd.py
# libnbd-python = ">1.0.0"

[dev-packages]
yamllint = "*"
tox = "*"
"flake8" = "*"
"pep8-naming" = "*"
pylint = "*"
